:root {
    --p-sm: .5rem;
    --p-md: 1rem;
    --p-lg: 1.5rem;
    --p-xl: 2.5rem;
    --m-sm: .5rem;
    --m-md: 1rem;
    --m-lg: 1.5rem;
    --m-xl: 2.5rem;
    --w-sm: 2rem;
    --w-md: 5rem;
    --w-lg: 10rem;
    --w-xl: 15rem;
  }

.text-xl-vw{
    font-size: clamp(1rem, 7vw, 7rem);
}