.sh-link-clicked {
    animation: linkBackgrondAni 3s linear;
    transform: scale(.9);
}

@keyframes linkBackgrondAni {
    5% {
        background-color: var(--blue-1);
    }

    20% {
        background-color: var(--blue-2);
    }

    90% {
        background-color: var(--blue-2);
    }

    100% {
        background-color: var(--dark-5);
    }
}

.ani-fadeIn {
    animation: aniFadeIn 2s linear;
}

@keyframes aniFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani-scale-elastic {
    animation: aniScaleElastic .8s ease-out;
}

@keyframes aniScaleElastic {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}