:root {
    --font-color: rgb(245, 245, 245);
    --dark-1: #1a1b1e;
    --dark-2: #141517;
    --dark-3: #282a2e;
    --dark-4: #52555f;
    --dark-highlight-1: rgb(145, 145, 145);
    --disabled-primary: #1b1c1f;
    --disabled-font-color:rgb(78, 78, 78);
  }