.btn {
    border: 1px solid;
    transition: background-color .1s ease-in-out,
        transform .2s ease-in-out, border-color .2s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(18, 18, 18);
    transform: scale(1.05);
}

.btn:active {
    transform: translate(0px, 2px);
    transform: scale(1);
    box-shadow: 0;
}

.btn-primary {
    background-color: var(--dark-3);
    border-color: var(--dark-4);
}

.btn-primary:hover {
    background-color: var(--dark-8);
}

.btn-alt1 {
    background-color: var(--dark-9);
    border-color: white;
}

.btn-alt1:hover {
    background-color: var(--dark-9);
    border-color: var(--blue-1);
}


.btn-disabled {
    background-color: var(--disabled-primary);
    color: var(--disabled-font-color);
    pointer-events: none;
    transition: none;
}

.btn-link:hover {
    cursor: pointer;
}

.sh-link {
    border: 1px solid var(--dark-highlight-1);
    border-radius: 1px;
    background-color: var(--dark-5);
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
}

.sh-link:hover {
    transform: scale(1.03);
}

.sh-link-default:active {
    transform: scale(1);
}

.sh-link-hover {
    cursor: pointer;
    background-color: var(--dark-6);
    border: 1px solid var(--dark-6);
}

.valign {
    margin: 0 auto;
}

.icon-btn-dark {
    transition: all 0.25s ease-out;
}

.icon-btn-dark:hover {
    cursor: pointer;
    scale: 1.15;
}