.dark {
    background-color: var(--dark-1);
    color: var(--font-color);
}

.dark-bg-2 {
    background-color: var(--dark-2);
}

.dark-bg-4 {
    background-color: var(--dark-4);
}

.dark-bg-6 {
    background-color: var(--dark-6);
}